<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Rajeet Agarwal. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="/img/MyPh.jpg">
    </div>
    
    {{>footer}}
</body>

</html>